{{#section 'head'}}
<style type="text/css">
    .lable {
        text-align: right;
    }
</style>
{{/section}}
<table>
    <tr>
        <td class="lable">Account：</td>
        <td>
            <input id="Account" />
        </td>
    </tr>
    <tr>
        <td class="lable">Password：</td>
        <td>
            <input id="Password" type="password" />
        </td>
    </tr>
    <tr>
        <td class="lable"></td>
        <td>
            <input type="button" id="sbt" value="login" />
        </td>
    </tr>
</table>
{{#section 'foot'}}
<script type="text/javascript">
    $(function () {
        $("#sbt").click(function () {

        });
    })
</script>
{{/section}}
