<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">文本框 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">日期控件</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">下拉框</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">弹出框</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">列表</a>
            </li>
        </ul>
    </div>
</nav>
