{{#section 'head'}}
<style type="text/css">
    .lable {
        text-align: right;
    }
</style>
{{/section}}
<table>
    <tr>
        <td class="lable">用户名：</td>
        <td>
            <input id="Account" />
        </td>
    </tr>
    <tr>
        <td class="lable">密码：</td>
        <td>
            <input id="Password" />
        </td>
    </tr>
    <tr>
        <td class="lable"></td>
        <td>
            <input type="button" id="sbt" value="登录" />
        </td>
    </tr>
</table>
{{#section 'foot'}}
<script type="text/javascript">
    $(function () {
        $("#sbt").click(function () {

        });
    })
</script>
{{/section}}
